.button {
    width: 20vw;
    min-height: 4vh;
    display: block;
    background: red;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin: 1vh;
}
