body {
	height: 100vmin;
	margin: 0px;
}

.field {
	height: 70vmin;
	width: 70vmin;
	min-height: 300px;
	min-width: 300px;
	color: black;
}

.current-player-color-indicator {
	width: 18vmin;
	height: 18vmin;
	background-color: black;
	border-radius: 12%;
}

.centering-parent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.feildSlot {
	height: 5.7vmin;
	width: 5.7vmin;
	position: absolute;
	border-radius: 50%;
	border: 1px solid grey;
	box-sizing: border-box;
}


.activeSlot {
	box-shadow: 0px 0px 10px 5px rgba(33, 90, 208, .20);
	border-color: black;
	cursor: pointer;
}

.dice {
	width: 10vmin;
	height: 10vmin;
	background: no-repeat;
	background-size: cover;
}